<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{94,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{94,173}}</string>
                <key>sourceSize</key>
                <string>{100,173}</string>
            </dict>
            <key>jiyu0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,173}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,173}}</string>
                <key>sourceSize</key>
                <string>{100,173}</string>
            </dict>
            <key>jiyu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,292},{98,171}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,171}}</string>
                <key>sourceSize</key>
                <string>{100,173}</string>
            </dict>
            <key>jiyu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{94,173}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{94,173}}</string>
                <key>sourceSize</key>
                <string>{100,173}</string>
            </dict>
            <key>jiyu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{94,173}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{94,173}}</string>
                <key>sourceSize</key>
                <string>{100,173}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jiyu.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1bd4eb7801421a01b080eb3fc30d2a02:1/1$</string>
            <key>textureFileName</key>
            <string>jiyu.png</string>
        </dict>
    </dict>
</plist>
